@font-face {
    font-family: "SnigletRegular";
    src: url(../../../../public/fonts/Sniglet/Sniglet-Regular.ttf);
}
@font-face {
    font-family: "CabinRegular";
    src: url(../../../../public/fonts/Cabin/static/Cabin/Cabin-Regular.ttf);
}