main {
    .home {
        margin: 50px 0;
        height: 70vh;
        background-image: url(../../../../public/img/mam2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        .container {
            width: 30%;
            .content {
                p {
                    margin: 20px 0;
                }
            }
        } 
    }

.home-mam {
    margin: 50px 0;
    height: 70vh;
    background-image: url(../../../../public/img/mam.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .container {
        width: 30%;
        .content {
            p {
                margin: 20px 0;
            }
        }
    }
}
}