.admin-login {
    p {
        text-align: center;
        padding: 25px 0;
    }
    
    .form-container {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        form {
            font-family: $cabinRegular;
            width: 50%;
            text-align: center;
            border: 1px solid $orange;
       }
    }
}