* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



h1 {
    font-family: $snigletRegular;
    margin: 50px 0;
    text-transform: uppercase;
    color: $bleu;
    text-align: center;
    
}

h2 {
    font-family: $snigletRegular;
    text-align: center;
    text-transform: uppercase;
    color: $bleu;
    padding: 25px;
    
}

h3 {
    font-family: $snigletRegular;
    text-align: center;
    color: $orange;
    text-transform: uppercase;
    padding: 20px;
}

p {
    font-family: $cabinRegular;
    
}

a {
    text-decoration: none;
    color: $bleu;
    font-family: $snigletRegular;
}

ul {
    list-style: none;
}
li {
    font-family: $snigletRegular;
}
