footer {
    width: 100%;
    height: 25vh;
    background-color: $bleu;
    .container {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        width: 100%;
        height: 100%;

        .logo-footer {
            width: 30%;
            height: 70%;

            .logo {
                height: 100%;
                background-color: white;
                border-radius: 2px;
            }
        }
        
        .content-footer {
            display: flex;
            justify-content: center;
           width: 30%; 
           ul {
               display: flex;
               flex-direction: column; 
           }
           li {
            border-left: 1px solid white;
            padding-left: 10px;
            color: $blanc;
           }
        }
        .content-footer ul a {
            color: $blanc;
            &:hover {
                text-decoration: underline;
            }
        }
        .content-footer a {
            .custom-icon {
                margin-block-start: 25px;
                padding-right: 15px;
            }
        }
    }
    .mentions-legales {
        ul {
            display: flex;
            justify-content: center;
            background-color: $bleu;
            padding: 10px 0;
        }
        a {
            color: $blanc;
            padding-right: 15px;
            font-size: 0.8rem;
        }
    }
}

@media  screen and (max-width: 768px)  {

    footer {
        height: auto;
    
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 25px;
            width: 100%;
            height: 100%;
    
            .logo-footer {
                height: 50%;
    
                .logo {
                    width: 100%;
                    height: 100%;
                }
            }
            
            .content-footer {
                padding-top: 10px;
                display: flex;
                justify-content: flex-start;
                width: 30%; 
                ul {
                   display: flex;
                   flex-direction: column; 
                }
                li {
                    border-left: none;
                    padding-left: 10px;
                    color: $blanc;
                }
            }
            // .content-footer nav {

            // }
            .content-footer ul a {
                color: $blanc;
                &:hover {
                    text-decoration: underline;
                }
            }
            .content-footer a {
                .custom-icon {
                    margin-block-start: 25px;
                    padding-right: 15px;
                }
            }
        }
        .mentions-legales {
            ul {
                display: flex;
                justify-content: center;
                background-color: $bleu;
                padding: 10px 0;
            }
            a {
                color: $blanc;
                padding-right: 15px;
                font-size: 0.8rem;
            }
        }
    }  
}