header {
    width: 100%;

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $bleu;
        .logo-container {
            width: 10vh;
            margin: 5px 20px;
            .logo {
                width: 100%;
                height: 100%;
            }
        }
        ul.nav-items {
            background-color: $blanc;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-decoration: none;
            font-family: $snigletRegular;
            a::after {
                content: "";
                display: block;
                background-color: $bleu;
                border-radius: 50%;
                width: 0;
                height: 1px;
                margin: 0.5rem auto 0;
                transition: all 0.3s ease;
            }
            a:hover::after {
                content: "";
                display: block;
                background-color: $bleu;
                border-radius: 50%;
                width: 70%;
                height: 1px;
                margin: 0.5rem auto 0;
            }
            li {
                list-style: none;  
                margin: auto; 
                padding-right: 70px;
            } 
        } 
        button.burger {
            display: none;
        }  
    }      
}


@media  screen and (max-width: 934px) {

    header {
        width: 100%;
    
        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $bleu;
            position: relative;
            .logo-container {
                width: 10vh;
                margin: 5px 20px;
                .logo {
                    width: 100%;
                    height: 100%;
                }
            }
            ul.nav-items {
                background-color: $blanc;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-decoration: none;
                font-family: $snigletRegular;
                position: absolute;
                right: 0%;
                top: 100%;
                a:hover {
                    font-weight: bolder;
                }
                a::after {
                    content: "";
                    display: none;
                    // background-color: $bleu;
                    // border-radius: 50%;
                    // width: 0;
                    // height: 3px;
                    // margin: 0.2rem auto 0;
                    // transition: all 0.3s ease;
                }
                a:hover::after {
                    content: "";
                    display: none;
                    // background-color: $bleu;
                    // border-radius: 50%;
                    // width: 70%;
                    // height: 2px;
                    // margin: 0.2rem auto 0;
                }
                
                &.hiden {
                    display: none;
                }
                
                li {
                    list-style: none;  
                    margin: auto; 
                    padding: 10px 40px;
                } 
                
            } 
            button.burger {
                display: block;
                cursor: pointer;
                color: $bleu;
                border: 0;
                background-color: $blanc;
                padding: 0 30px;
            }  
        }      
    }  
}