

.link-btn {
    margin: 20px;
    color: $blanc;
    font-family: $snigletRegular;
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: $blanc;
        border: 1px solid $orange;
        color: $orange;

    }
      // &::after {
                //     content: ">";
        
                // }
                // &:hover::after{
                //     content: ">";
                //     position: relative;
                //     left: 5px;
                    
                // }

            // }
    
}